<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c8c7dda4-652c-4a1b-a145-d7b3e417b096/resourcegroups/CarParkingSystem/providers/Microsoft.Web/sites/CarPacking20240819195838</ResourceId>
    <ResourceGroup>CarParkingSystem</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carpacking20240819195838.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>carpacking20240819195838.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarPacking20240819195838</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$CarPacking20240819195838</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:carpackingdbserver.database.windows.net,1433;Initial Catalog=CarPacking_db;User ID=brazow@carpackingdbserver;Password=Sbonga@01" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarPacking.Models.ApplicationDbContext, CarPacking" MigrationConfiguration="CarPacking.Migrations.Configuration, CarPacking" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carpackingdbserver.database.windows.net,1433;Initial Catalog=CarPacking_db;User ID=brazow@carpackingdbserver;Password=Sbonga@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>